:root {
    --cor-primaria: #8dbeda;
    --cor-secundaria: #bdd1de;    
    --cor-terciaria: #4180ab;
    --cor-fundo: #13293d;    
    --cor-fundo-escuro: #e4ebf0;
    --cor-fundo-claro: #8ab3cf;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }